@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;700&display=swap');

@media (min-width:320px)  { 
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
    .lowResImageContainer {
        display: flex;
        justify-items: center;
        justify-content: center;
        padding-bottom: 2vh;
        width: 70vw !important;
    }

    .lowResImage {
        object-fit: cover;
        width: 100%;
    }
}
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1000px) { 
    /* hi-res laptops and desktops */ 

}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f9ffc5;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: hsl(66, 40%, 70%);
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: hsl(66, 40%, 60%);
  }

body {
    background-color: #f9ffc5;
    margin: 0;
    overflow-x: hidden;
}

nav {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    z-index: 100;
    background-color: #f9ffc5;
    border-radius: 0 0 15px 15px;
    box-shadow: 0px 5px 10px hsl(66, 80%, 80%);
    position: fixed;
}

nav ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 10px 30px;
}

.selectedButton {
    border-radius: 20px;
    background-color: black;
    color: white;
}

nav a:hover {
    border-radius: 20px;
    background-color: black;
    color: white;
    transition-delay: 0.10s;
}

.mainPage {
    padding-top: 10vw;
}

.headerContainer {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 10vh;
}

.header h1 {
    text-align: left;
    margin-bottom: 5vh;
    font-size: 3em;
}

.contentWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    width: 80vw;
}

.content {
    background-color: #e6e6e6;
    width: 80vw;
    padding: 5vw;
    border-radius: 20px;
    margin-bottom: 10vh;
    box-shadow: 0 8px 18px -4px rgba(0,0,0,.65);
}

.unjoinedImage {
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 10px;

}

.lowResImageContainer {
    display: flex;
    justify-items: center;
    justify-content: center;
    padding-bottom: 10vh;
}

.imageGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0; 
}

.imageGridContainer {
    width: 100%;
    padding-bottom: 80%; /* Maintain the aspect ratio of the images */
    position: relative;
}
  
.imageGridContainer img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 2.5%;
}

.imageGridSquare {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5%; 
}

.imageGridContainerSquare {
    width: 100%;
    padding-bottom: 100%; /* Maintain the aspect ratio of the images */
    position: relative;
}
  
.imageGridContainerSquare img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 2.5%;
}

.tiktok {
    text-decoration: none;
    display: inline !important;
    padding: 0px !important;
    background-color: #e6e6e6 !important;
    color: blue !important;
    font-weight: 400 !important;

}

.mockup {
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 5vh;
}

.joinedImage {
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.contentText {
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding-left: 5vw;
    padding-right: 5vw;
    font-weight: 500;
}

.contentText p {
    margin: 5vh auto;
}

.contentText a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 7.5px;
    padding-left: 15px;
    padding-right: 15px;
    width: 150px;
}

footer {
    background-color: black;
    color: white;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

footer p {
    padding-left: 10vw;
}

.buttonContainer {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
}

.dribbleButton {
    background-color: #000;
    color: white;
    border-radius: 20px;
    padding: 1vh 3.5vw;
    text-decoration: none;
    text-align: center;
}

#loadOverlay{display: none;}

