.logoContainer {
  display: flex;
  width: 100vw;
  justify-content: center;
  height: 20vh;
  padding-top: 40vh;
  padding-bottom: 40vh;
}

.svgBackground {
  background-image: url("../assets/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 200vh;
  width: 100vw;
  display: grid;
  grid-template-areas:
    "Headings Headings"
    "Paragraph Picture"
    "Logos Logos";
    grid-template-rows: 70vh 50vh 50vh;
}

.headings {
  padding-top: 30vh;
  grid-area: Headings;
  text-align: center;
  font-size: 2em;
}

.text {
  grid-area: Paragraph;
  height: 20vh;
  width: 40vw;
  padding-left: 40%;
  line-height: 1.5em;
  padding-top: 15vh;
  font-size: 1em;
  font-weight: 1000;
}

.picture {
  grid-area: Picture;
}

.logos {
  grid-area: Logos;
  width: 100vw;
  height: 100%;
  padding-top: 20vh;
  display: flex;
  justify-content: center;
}

.logos * {
  padding-left: 5vw;
  display: inline;
  transform: scale(0.70);
}
