.footer {
    position: relative;
    width: 100vw;
    background-color: black;
    color: white;
    overflow: hidden;
    display: grid;
    font-size: 0.5em;
    grid-template-areas: 
        "Contact Services Information"
        "Contact Established Ice";
    gap: 5vw;
    grid-template-rows: 30vh;
    grid-template-columns: 30vw;
}

.contact {
    grid-area: Contact;
    padding-left: 20vw;
    padding-top: 20vh;
}

.contactInfo {
    padding-top: 5vh;
}

.services {
    grid-area: Services;
    padding-top: 20vh;
    padding-left: 10vw;
}

.information {
    grid-area: Information;
    padding-top: 20vh;
}

.established {
    grid-area: Established;
    padding-top: 15vh;
    padding-left: 10vw;
}

.ice {
    grid-area: Ice;
    padding-bottom: 20vh;
    padding-right: 20vh;
}

.iceLogo {
    height: 25vh;
}