.header {
    width: 100vw;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 3vh;
    padding-bottom: 1.25vh;
    height: 10vh;
    border-bottom: 0.1vh solid black;
    box-shadow: 0px 0.15vh 0.75vh black;
}

.imageContainer {
    height: 7.5vh;
}

.logo {
    height: inherit;
    right: 0%;
    padding-left: 10vw;
}


.BurgerMenu {
    position: absolute;
    padding-right: 5vw;
    right: 0;
    height: inherit;
}

.BurgerMenu :hover {
    fill: hsl(0, 0%, 50%);
}